#alistVarsCON {
  height: 270px;
}

#alistVarsCON .jsavoutput.jsavline {
  height: 50px;
}

#alistIntroCON {
  height: 190px;
}

#alistIntroCON .jsavoutput.jsavline {
  height: 40px;
}

#alistInsertCON {
  height: 320px;
}

#alistInsertCON .jsavcode {
  margin-left: 285px;
  width: 560px;
}

#alistInsertCON .jsavlabel{
  margin-bottom: 0;
}

#alistInsertCON .jsavoutput.jsavline {
  height: 40px;
}

#alistAppendCON {
  height: 270px;
}

#alistAppendCON .jsavcode {
  margin-left: 350px;
  width: 400px;
}

#alistAppendCON .jsavoutput.jsavline {
  height: 40px;
}

#alistRemoveCON {
  height: 340px;
}

#alistRemoveCON .jsavcode {
  margin-left: 285px;
  width: 564px;
}

#alistRemoveCON .jsavoutput.jsavline {
  height: 40px;
}

