#aqueueFirstCON {
  height: 250px;
}

#aqueueFirstCON .jsavoutput.jsavline {
  height: 55px;
}

#aqueueDriftCON {
  height: 250px;
}

#aqueueDriftCON .jsavoutput.jsavline {
  height: 75px;
}

#aqueueBadCON {
  height: 250px;
}

#aqueueBadCON .jsavoutput.jsavline {
  height: 75px;
}

#aqueueCircularCON {
  height: 430px;
}

#aqueueCircularCON .jsavoutput.jsavline {
  height: 70px;
}

#aqueueEmptyCON {
  height: 380px;
}

#aqueueEmptyCON .jsavoutput.jsavline {
  height: 70px;
}
