#astackVarCON {
  height: 420px;
}

#astackTopCON {
  height: 240px;
}

#astackPushCON {
  height: 220px;
}

#astackPushCON .jsavoutput.jsavline {
  height: 30px;
}

#astackPushCON .jsavcode{
  position: relative;
  top: -5px;
  left: 175px;
  width: 500px;
}

#astackPopCON {
  height: 230px;
}

#astackPopCON .jsavoutput.jsavline {
  height: 15px;
}

#astackPopCON .jsavcode{
  position: relative;
  top: 40px;
  left: 175px;
  width: 500px;
}
