.jsavcanvas{
	height: 200px;
}

#dlistDiagramCON {
  height: 100px;
}

#dlistDiagramCON .jsavoutput.jsavline {
  height: 75px;
}

#dlistInsertCON {
  height: 400px;
}

#dlistInsertCON .jsavcode{
  width: 510px;
  position: relative;
  top: 115px;
}

#dlistAppendCON {
  height: 410px;
}

#dlistAppendCON .jsavcode{
  width: 510px;
  position: relative;
  top: 115px;
}

#dlistRemoveCON {
  height: 495px;
}

#dlistRemoveCON .jsavcode{
  width: 590px;
  position: relative;
  top: 130px;
}

#dlistPrevCON {
  height: 320px;
}

#dlistPrevCON .jsavcode{
  position: relative;
  width: 600px;
  top: 80px;
}

.dashline { 
  stroke-dasharray: 5,5;
}