.jsavleftpointerarea {
  border-right: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #eee;
}

.jsavrightpointerarea {
  border-left: 1px solid black;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #eee;
}

.jsavhorizontallist.jsavautoresize .jsavnode {
  min-width: 50px;
  max-width: 50px;
  padding-right: 0;
}
