.jsavnode .jsavvalue { /* Makes array cell values center vertically */
  height: 30px;
}

.jsavnode { /* Make the arrays smaller */
  line-height: 30px !important;
  min-width: 30px !important;
  max-width: 30px !important;
  min-height: 30px !important;
  max-height: 30px !important;
}
