#listADTposCON { 
  height: 175px;
}

#listADTposCON .jsavnode {
  border-color: #eed;
  background-color: #eed;
  line-height: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
  min-height: 60px !important;
  max-height: 60px !important;
  font-size: 20px;
  box-shadow: 0 0 0;
}

#listADTposCON .jsavoutput.jsavline{
  height: 45px;
}
