#listADTnoteCON { 
  height: 150px;
}

#listADTnoteCON .jsavnode {
  border-color: #eed;
  background-color: #eed;
  line-height: 50px;
  font-size: 20px;
  min-width: 40px;
  box-shadow: 0 0 0;
}

#listADTnoteCON .jsavoutput.jsavline{
  height: 25px;
}
