.jsavpointer .jsavlabel { 
  margin-bottom: 2px;
}

#llistRepCON {
  height: 60px;
}

#llistBadCON {
  height: 240px;
}

#llistBadCON .jsavoutput.jsavline {
  height: 75px;
}

#llistBadDelCON {
  height: 240px;
}

#llistBadDelCON .jsavoutput.jsavline {
  height: 70px;
}

#llistInitCON {
  height: 110px;
}

#llistHeaderCON {
  height: 110px;
}

#llistVarsCON {
  height: 255px;
}

#llistVarsCON .jsavoutput.jsavline {
  height: 63px;
}

#llistConsCON {
  height: 355px;
}

#llistConsCON .jsavoutput.jsavline {
  height: 75px;
}

#llistInsertCON {
  height: 440px;
}

#llistInsertCON .jsavoutput.jsavline {
  height: 30px;
}

#llistInsertCON .jsavcode{
  top: 145px;
  width: 600px;
  position: relative;
}

#llistSpecialCON {
  height: 300px;
}

#llistSpecialCON .jsavoutput.jsavline {
  height: 30px;
}

#llistSpecialCON .jsavcode{
  margin-left: 338px;
  width: 510px;
}

#llistRemoveCON {
  height: 480px;
}

#llistRemoveCON .jsavcode{
  position: relative;
  top: 140px;
  width: 700px;
}

#llistRemoveCON .jsavoutput.jsavline{
  height: 40px;
}

#llistOtherCON {
  height: 420px;
}

#llistOtherCON .jsavcode{
  position: relative;
  width: 700px;
}

#llistOtherCON .jsavoutput.jsavline{
  height: 55px;
}
















.jsavpointer{
  width: 35px;
  text-align: center;
}
