#lstackDiagramCON {
  height: 100px;
}

#lstackPushCON {
  height: 210px;
}

#lstackPushCON .jsavoutput.jsavline {
  height: 30px;
}

#lstackPushCON .jsavcode{
  position: relative;
  top: 0;
  left: 190px;
  width: 450px;
}

#lstackPopCON {
  height: 250px;
}

#lstackPopCON .jsavoutput.jsavline {
  height: 30px;
}

#lstackPopCON .jsavcode{
  position: relative;
  top: -10px;
  left: 190px;
  width: 450px;
}

#lstackTwostackCON {
  height: 110px;
}
