#LinearRecurrencesCON {
  width: 800px;
  height: 650px;
}
#LinearRecurrencesCON .jsavline {
  width:800px;
  height:75px;
}

#LinearRecurrencesCON .jsavtree .jsavnode {
  line-height: 45px !important;
  min-width: 45px !important;
  max-width: 45px !important;
  min-height: 45px !important;
  max-height: 45px !important;
}
.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
h1{
  font-size: 1em;
}
.dashed{
  stroke-dasharray: 5, 5;
}
