.kennel-explorer {
    border: 1px solid grey;
    height: 100%;
}

.kennel-explorer table {
    width: 100%; 
    text-align: center;
}

.kennel-editor {
    height: 500px;
}

.kennel-text {
    border: 1px solid lightgray;
}

.kennel-console {
    height: 200px;
    overflow: auto;
    border: 1px solid lightgray;
}

.kennel-console samp {
    /* display: block;*/
    padding-left: 10px;
}

.kennel-bottom {
    height: 25%;
}

.kennel-header {
    height: 25%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.editor-active-line {
    background: #FBC4C4 !important;
    color: #8a1f11 !important;
}