#container {
  width: 800px;
  height: 650px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.node{
  radius: 15;
  fill: blue;
}
.jsavarray .jsavindex{
	min-width:30px;
	min-height:30px;
	height:30px;
	line-height:30px;
        text-align:center;
}

 .pointing-left {
        -webkit-transform: translateY(-5px) translateX(1px);
        -moz-transform: translateY(-5px) translateX(1px);
        -o-transform: translateY(5px) translateX(-1px);
        transform: translateY(-5px) translateX(1px);
      }
      .pointing-right {
        -webkit-transform: translateY(5px) translateX(-1px);
        -moz-transform: translateY(5px) translateX(-1px);
        -o-transform: translateY(5px) translateX(-1px);
        transform: translateY(5px) translateX(-1px);
      }
