#container {
  width: 850px;
  height: 600px;
}

.avcontainer{
  width: 800px;
  height: 600px;
}

.jsavcanvas {
  height: 600px;
  width:1000px;
}
.jsavoutput{
  width: 800px;
  height: 50px;
}
.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
h1{
 font-size: 1em;
}