#container {
  width: 800px;
  height: 360px;
}

#expression {
  margin-top: -15px;
  margin-bottom: 20px
}

.jsavline {
  margin-top: 15px;
  height: 50px;
}

#increments {
  width: 150px;
}

#lambda {
	font-size: 2em;
}

#left {
	float: left;
	width: 50%;
}

#right {
	float: right;
	width: 50%;
}

#indent {
	text-indent: 3em;
}