.bintreefullleaf {
  border-radius: 1px;
  background-color: DarkOrange;
  line-height: 22px;
  z-index: 100; /* Prevents the tails of the edges from showing up in the background of the node */
}

.bintreeemptyleaf {
  background-color: BurlyWood;
  line-height: 22px;
  z-index: 100; /* Prevents the tails of the edges from showing up in the background of the node */
}

.jsavcanvas { height: 500px;} /* set the height of the container */


#container {
  /* Change the size of the container */
  width: 780px;
  height: 600px;
}

/* Change the size of the tree nodes */
#pagedBSTCON .jsavtree .jsavnode, #pagedBSTCON .jsavtree .jsavvalue {
  line-height: 10px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}
