#container {
  width: 800px;
  height: 668px;
  top: 30px;
}

#bottom {
  position: relative;
  top: 50px;
  padding-left: 5px;
  margin-left: -5px;
  height: 90px;
  width: 803px;
  border: 1px solid black;
  background-color: #ddd;
  overflow: hidden;
}

#showcounts {
  margin-right: -8px;
  float: right;
}

#input {
  margin-right: 5px;
}

.countlabel {
  top: 5px !important;
  right: -20px !important;
  display: none;
}


.avcontainer {
  top: 30px;
}

.jsavarray {
   position: absolute;
}

.jsavverticalarray .jsavnode {
  min-width: 120px !important;
  max-width: 120px !important;
}

.jsavnode. {
  line-height: 30px;
  text-align: left;
  padding-left: 20px;
}

.jsavcontainer {
  top: 50px;
}

.jsavoutput.jsavline {
  top: 50px;
  border: 1px;
}

.jsavcanvas {
  margin-top: 10px;
  height: 450px;
  width: 800px;
}

.jsavarray .jsavindex {
  height: 10px;
  width: 110px;
  border-radius: 0 !important;
}
