#container {
  width: 850px;
  height: 400px;
}

.avcontainer{
  width: 800px;
  height: 600px;
}

.jsavcanvas {
  height: 600px;
  width: 1000px;
}

.jsavoutput {
  width: 700px;
}

.jsavhorizontalarray.jsavautoresize .jsavnode {
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  line-height: 35px;
}
.jsavhorizontallist.jsavautoresize .jsavnode {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  line-height: 30px;
  padding-right: 12px;
}
.jsavoutput.jsavline{
  height: 50px;
}
.jsavcanvas{
  height: 200px;
}
.jsavpointer{
  width: 35px;
  text-align: center;
}


