#container {
  width: 800px;
  height: 595px;
}
.jsavline {
  height: 45px;
  margin: 0 0 0 20px;
}

#procontrols {
  text-align: center;
}

.jsavgraph svg {
  z-index: 0;
}

.jsavnode.marked {
  background-color: #FFF050;
}
.jsavgraph .jsavedge {
  stroke-width: 8;
  stroke: #7D8879;
}
.jsavgraph .jsavedge.marked {
  stroke: #F6B611;
}
.jsavgraph .jsavedgelabel {
  font-size: 16px;
  background-color: transparent;
  text-shadow: 0 0 5px #fff;
}
.jsavautoresize .jsavnode {
  min-width: 45px; 
  min-height: 45px; 
}