.jsavcanvas {
 margin-left: auto;
 margin-right: auto;
 height: 250px;
}

#externalSortOver {
 margin-left: auto;
 margin-right: auto;
 height: 120px;
}

#externalSortSnow {
 margin-left: auto;
 margin-right: auto;
 height: 215px;
}

#ExternalMergeSort {
 height: 375px;
}

#ExternalMergeSortExample {
 height: 300px;
}

#ExternalReplacementSelection {
 height: 420px;
}

#MultiMerge {
 height: 375px;
}

svg{
  stroke-width: 1;
}
