#GIntroRepCON2_3 .jsavcanvas {
    
    height: 400px;
    
}


.jsavverticalarray .jsavnode {
	line-height: 30px !important;
	min-width: 30px !important;
	max-width: 30px !important;
	min-height: 30px !important;
	max-height: 50px !important;
	height: 45px;
}

.addSpace{
    letter-spacing: 8.5px;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top;
}
