#container {
  width: 800px;
  height: 650px;
  border: solid green;
}
#custom {
     visibility: hidden;
     
}

#graphControls {
	display: none;
	height:40px;
}
.createGraphs {
	height:40px;
	padding:0;
}
.avcontainer {
//	width:600px;
//	height:500px;
//	padding:0;
}

.message {
	width:600px;
	height:50px;
}
.avcontainer2 {
 display:none;
width:600px;
height:500px;
}

.jsavgraph  {
	width:600px;
	height:450px;
	margin:0;
}
.jsavautoresize {
	margin:0;
}

.jsavcenter {
	margin:0;

}

.jsavcanvas {
	
border:1px solid black;
height: 450px;
padding:0;
}


.jsavline{
  height: 50px;
}




