label {
  margin-left: 5px;
}

#container {
  width: 800px;
  height: 575px;
}

#bottom {
padding-left: 5px;
  height: 90px;
  width: 805px;
  border: 1px solid black;
  background-color: #ddd;
  overflow: hidden;
}

#showcounts {
  margin-right: -8px;
  float: right;
}

#input {
  /* Spacing between the input box and the Next button */
  margin-right: 5px;
}

.countlabel {
  top: 5px !important;
  right: -20px !important;
  display: none;
}

.avcontainer {
  margin-top: 0;
}

.jsavarray {
   padding-left: 0;
   text-align: center;
   position: absolute;
   left: 650px;
   top: 0;
}

.jsavarray .jsavindex {
  min-height: 30px;
  min-width: 30px;
}

.jsavnode {
  line-height: 30px;
}

.jsavscroll {
  width: 370px;
  height: 505px;
  font-size: 95%;
  float: left;
  margin-left: -10px;
  margin-top: 5px;
  padding-left: 5px;
}

#procontrols{
  text-align: left;
}
