#container {
  width: 850px;
  height: 600px;
}

.avcontainer{
  width: 800px;
  height: 600px;
}

.jsavcanvas {
  height: 600px;
  width:1000px;
}
.jsavoutput {
  width: 700px;
  height: 50px;
}
h1{
  font-size: 1em;
}
