#container {
  width: 800px;
  height: 600px;
}
.jsavline {
      height: 90px;
}
#root, path[data-endnode="root"] {
    opacity: 0 !important;
    pointer-events: none;
}
.jsavtree .jsavnode, .jsavgraph .jsavnode {
  line-height: 30px !important;
  min-width: 30px !important;
  max-width: 30px !important;
  min-height: 30px !important;
  max-height: 30px !important;
}
.jsavverticalarray .jsavindex:first-of-type, .jsavverticalarray .jsavindex:first-of-type .jsavvalue {
  -ms-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -ms-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -o-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jsavverticalarray .jsavindex:last-of-type, .jsavverticalarray .jsavindex:last-of-type .jsavvalue {
  -ms-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jsavhorizontalarray .jsavindex:first-of-type, .jsavhorizontalarray .jsavindex:first-of-type .jsavvalue {
  -ms-border-top-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jsavhorizontalarray .jsavindex:last-of-type, .jsavhorizontalarray .jsavindex:last-of-type .jsavvalue {
  -ms-border-top-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -o-border-top-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
