#container {
  width: 850px !important;
  height: 600px;
}

.avcontainer{
  width: 850px;
  height: 600px;
}

.jsavnode {
  line-height: 30px !important;
  min-width: 30px !important;
  max-width: 30px !important;
  min-height: 30px !important;
  max-height: 30px !important;
}
.jsavnode .jsavvalue { /* This will get the array cell values to center vertically */
  height: 30px;
}
.jsavcanvas {
  height: 600px;
  width:850px;
}
.jsavline {
  width:600px;
  height:50px;
}
.jsavscroll {
  width: 250px; 
  height: 200px;
}
.jsavlabel {
    display: inline-block;
}
.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
h1{
  font-size: 1em;
}









