#container {
  width: 800px;
  height: 650px;
}

.jsavcanvas {
  height: 500px;
}

.jsavgraph .jsavnode {
  line-height: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
  min-height: 40px !important;
  max-height: 40px !important;
}

.jsavtree .jsavnode {
  line-height: 55px !important;
  min-width: 55px !important;
  max-width: 55px !important;
  min-height: 55px !important;
  max-height: 55px !important;
}

.jsavarray {
  top: 0px;
}

.jsavtree {
  position: relative;
  top: 70px;
}

.jsavgraph .jsavedge {
  stroke-width: 1.5px;
}
