#container {
  width: 800px;
  height: 650px;
}
.jsavverticalarray .jsavindex:first-of-type, .jsavverticalarray .jsavindex:first-of-type .jsavvalue {
  -ms-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -ms-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -o-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jsavverticalarray .jsavindex:last-of-type, .jsavverticalarray .jsavindex:last-of-type .jsavvalue {
  -ms-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.jsavgraph .jsavedge {
  stroke-width: 1.5px;
}
