#container {
  height: 640px;
  width: 780px;
}

.jsavcanvas {
  margin-top: 20px;
}

.jsavcode {
	margin-top: 0;
}

/* Deprecated, should be removed once quicksort has been rewritten to use annotations */
/* Creates a blue, left aligned arrow above an array element */
.jsavindex.jsavarrow.leftarrow::before {
  left: 7px;
  border-color: blue transparent transparent;
}

/* Deprecated, should be removed once quicksort has been rewritten to use annotations */
/* Creates a red, right aligned arrow above an array element */
.jsavindex.jsavarrow.rightarrow::before {
  left: 27px;
  border-color: red transparent transparent;
}

/* Deprecated, should be removed once quicksort has been rewritten to use annotations */
/* Creates a purple, center aligned arrow above an array element */
.jsavindex.jsavarrow.leftrightarrow::before {
  border-color: #CC00FF transparent transparent;
}
