#RadixSortAnalysisCON {
  height: 650px;
}
.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#RadixSortAnalysisCON .jsavnode {
  line-height: 30px !important;
  min-width: 30px !important;
  max-width: 30px !important;
  min-height: 30px !important;
  max-height: 30px !important;
}
#RadixSortAnalysisCON .jsavnode .jsavvalue { /* This will get the array cell values to center vertically */
  height: 30px;
}
