/* Create styling for the pagedBSTCON diagram */

/* Set size for the jsav container */
#pagedBST_CON {
	width: 700px;
	height: 500px;
}

/* Change the size of the tree nodes */
#pagedBST_CON .jsavtree .jsavnode {
	min-width: 35px;
	max-width: 35px;
	min-height: 35px;
	max-height: 35px;
}

#pagedBST_CON .jsavtree .jsavvalue {
    height: 30px;
}

#pagedBST_CON .jsavoutput.jsavline {
	text-align: center;
	width: 700px;
}

#pagedBST_CON .jsavlabel {
	z-index: 900;
	font-size: 1.3em;
}

/* Create styling for the rebalanceBST_CON diagram */

#rebalanceBST_CON {
    width: 700px;
    height: 500px;
}

#rebalanceBST_CON .jsavtree .jsavnode, #rebalanceBST_CON .jsavarray .jsavnode {
    min-height: 35px;
    max-height: 35px;
    min-width: 35px;
    max-width: 35px;
}

#rebalanceBST_CON .jsavtree .jsavvalue, #rebalanceBST_CON .jsavarray .jsavvalue {
    height: 30px;
}

#rebalanceBST_CON .jsavoutput.jsavline {
    text-align: center;
    width: 700px;
}

#rebalanceBST_CON .jsavlabel {
    z-index: 900;
    font-size: 1.3em;
}

/* Create styling for the colorizedBST diagram */

#colorizedBST {
	width: 600px;
}

#colorizedBST .jsavcanvas {
	width: 600px;
	height: 300px;
}

#colorizedBST .jsavtree .jsavnode {
	min-width: 20px;
	min-height: 20px;
	max-width: 20px;
	max-height: 20px;
	line-height: 20px;
}

#colorizedBST .jsavvalue {
	height: 20px;
}
