
.edgeHighlight {
  stroke: blue;
  stroke-width: 2.0;
}

.edgeHighlightStrong {
  stroke: blue;
  stroke-width: 3.0;
}

.jsavarraytree .jsavarraytreenode {
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 8px;
}

.jsavarraytree .jsavnode.jsavtreenode {
  max-width: initial;
}

.jsavarraytree .jsavarraytreenode .jsavarray {
  margin: 0;
}

.jsavarraytree .jsavarraytreenode .jsavarray {
  min-height: 47px;
}
