/* General styling for the size of arrays */

/* Removes top margin from array objects to make the diagram a litle more compact */
.jsavarray {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 30px;
}

.jsavoutput.jsavline {
  width: 600px;
  padding-top: 20px;
  text-align: center;
}

.jsavoutput {
  margin: -5px auto 15px auto;
}

/* Change the size of each array box */
.jsavarray .jsavindex {
  min-width: 33px;
  max-width: 33px;
  min-height: 30px;
  max-height: 30px;
}

/* Center text inside of array cell by making height equal to the container height */
.jsavnode .jsavvalue {
  height: 20px;
}

/* Make the font of the labels inside of the arrays smaller */
.jsavarray .jsavvaluelabel {
  font-size: .9em;
}

/* Make corners of arrays square */
.jsavarray .jsavnode.jsavindex {
  border-radius: 0;
}

/* Styling for the twoThreeTreeCON diagram ***********************************/

/* Sets maximum width to JSAV container */
#twoThreeTreeCON {
	padding-top: 20px;
	width: 560px;
}

/* Sets width and height to the JSAV canvas */
#twoThreeTreeCON .jsavcanvas {
	height: 200px;
	width: 560px;
}

/* Sytling for the simpleInsertCON slide show ********************************/

/* Set maximun width for the JSAV container */
#simpleInsertCON {
	width: 700px;
}

/* Set width and height for the JSAV canvas */
#simpleInsertCON .jsavcanvas {
	height: 250px;
	width: 700px;
}

/* Sytling for the promoteCON slide show ********************************/

/* Set maximun width for the JSAV container */
#promoteCON {
	width: 800px;
}

/* Set width and height for the JSAV canvas */
#promoteCON .jsavcanvas {
	height: 250px;
	width: 780px;
}

/* Sytling for the splitCON slide show ********************************/

/* Set maximun width for the JSAV container */
#splitCON {
	width: 800px;
}

/* Set width and height for the JSAV canvas */
#splitCON .jsavcanvas {
	height: 350px;
	width: 800px;
}
