#UpperBoundCON {
  height: 600px;
}
#UpperBoundCON .jsavline{
  height: 150px;
}
.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#UpperBoundCON .jsavhorizontalarray .jsavnode{
  min-width: 50px !important;
  max-width: 200px !important;
  min-height: 35px !important;
  max-height: 35px !important;
}
