<h4>Parameters</h4>
<table class="table table-bordered">
  <tbody>
  <% params.keys.sort.each do |key| %>
    <tr>
      <td style="width: 20%;" nowrap="nowrap"><%= key %></td>
      <td><%= params[key] %></td>
    </tr>
  <% end %>
  </tbody>
</table>