<html>
<head>
  <title>Finished Assessment</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<p>Your score of <%= @score %> was successfully sent to <%= @tp.tool_consumer_instance_name || "your LMS" %></p>
<%= erb :_return_to_lms %>
<%= @request_params.inspect %>

</body>
</html>