<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <style>
    body { padding-top: 10px; padding-bottom: 10px; }
  </style>
</head>
<body>

<div class="container">
  <div class="alert alert-danger"><%= @message %></div>
  <%= erb :_return_to_lms %>
  <%= erb :_params_table %>
</div>

</body>
</html>