<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<p><a href='/lti_tool'>Start</a> using the Block tool now!!!</p>

<p>You can get the configuration XML here: <a href="/tool_config.xml">LTI Config</a></p>

<p>
  You can perform a signature verification test for your own tool with this config:
  <a href="/tool_config.xml?signature_proxy_test=1">Signature Test Config</a>
</p>
</body>
</html>