#container {
  width: 800px;
  height: 430px;
  overflow-y: visible;
  overflow-x: hidden;
}

.avcontainer{
  overflow: visible;
}

.jsavarray {
  padding-left: 0;
}

.jsavline {
  height: 40px;
}

.jsavindex.jsavarrow:before {
  left: 9px;
}

/* Deprecated, should be removed once quicksort has been rewritten to use annotations */
/* Creates a blue, left aligned arrow above an array element */
.jsavindex.jsavarrow.leftarrow::before {
  border-color: blue transparent transparent;
}

/* Deprecated, should be removed once quicksort has been rewritten to use annotations */
/* Creates a red, right aligned arrow above an array element */
.jsavindex.jsavarrow.rightarrow::before {
  border-color: red transparent transparent;
}

/* Deprecated, should be removed once quicksort has been rewritten to use annotations */
/* Creates a purple, center aligned arrow above an array element */
.jsavindex.jsavarrow.leftrightarrow::before {
  border-color: #CC00FF transparent transparent;
}
