#container {
  width: 850px;
  height: 750px;
}

.jsavcontainer {
  height: 620px;
}

.jsavlist .jsavedge {
  stroke-width: 2;
}

/* For some reason, this makes the second and following linked list
   nodes appear in the right place. */
.jsavarray {
  padding-left: 0;
}

.jsavcanvas > svg {
  height: 550px;
  width: 835px;
}

/* We make the arrays bigger than the OpenDSA stylesheet standard
   SO that we  have reasonable room for the linked lists */
.jsavverticalarray .jsavnode {
  line-height: 45px !important;
  min-width: 45px !important;
  max-width: 45px !important;
  min-height: 45px !important;
  max-height: 45px !important;
}
