#container {
  width: 800px;
  height: 450px;
}

#profArray {
  margin-top: -15px;
  margin-bottom: 20px
}

.jsavline {
  margin-top: 15px;
  height: 50px;
}

#increments {
  width: 150px;
}

.jsavindex.jsavarrow:before {
  left: 9px;
}
