#container {
  width: 810px;
  height: 400px;
}

#left {
  float: left;
  width: 58%;
  margin: 7px 0 0 0;
}

#right {
  float: right;
  width: 40%;
  margin-top: -15px;
}

.jsavscroll {
  height: 240px;
}

#arraysize {
  padding-left: 5px;
  width: 60px;
}

#increments {
  margin-top: 5px;
}
