{% set navbar_invisible = true %}
{% extends 'reduced_layout.html' %}

{% block title %}
Assignment
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

{% assets "blockpy_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "blockpy_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<style>
.embedded-data {
    display: none;
}
</style>

{% endblock %}

{% block body %}

{% for assignment, submission in group %}


<!-- Main BlockPy canvas -->
<div id="blockpy-div-{{loop.index}}" style='height:100%'></div>

<pre id='problem-presentation-{{loop.index}}' 
     class='embedded-data embedded-data-{{loop.index}}'
     >{{ assignment.body }}</pre>
<pre id='default-body-{{loop.index}}'         
     class='embedded-data embedded-data-{{loop.index}}'
     >{{ submission.code}}</pre>
<pre id='default-on-run-{{loop.index}}'       
     class='embedded-data embedded-data-{{loop.index}}'
     >{{ assignment.on_run }}</pre>
<pre id='default-on-step-{{loop.index}}'      
     class='embedded-data embedded-data-{{loop.index}}'
     >{{ assignment.on_step }}</pre>
<pre id='default-on-start-{{loop.index}}'     
     class='embedded-data embedded-data-{{loop.index}}'
     >{{ assignment.on_start }}</pre>

<script>
/*
Tracking code - safe to delete
*/
localStorage.setItem('user_id', "{{ user_id }}");

$(document).ready(function() {
    blockpy = new Kennel(document.getElementById('blockpy-div-{{loop.index}}'),
                        'student', // Instructor mode
                        $("#problem-presentation-{{loop.index}}").text(), // problem
                        $("#default-body-{{loop.index}}").text(), // Current code
                        $('#default-on-run-{{loop.index}}').text(), // On run code
                        $('#default-on-step-{{loop.index}}').text(), // On step code
                        $('#default-on-start-{{loop.index}}').text(), // Starting code
                        false,
                        "{{ 'text' if assignment.type == 'text' else 'blocks' }}",
                        "{{ url_for('static', filename='blockly/') }}",
                        {'parsons': {{ 'true' if assignment.type == 'parsons' else 'false' }}, 
                         'text_first': {{ 'true' if assignment.type == 'text' else 'false' }}, 
                         'read_only': false},
                        { 'save_code': '{{ url_for("lti_assignments.save_code")}}',
                          'load_code': false,
                          'save_success': '{{ url_for("lti_assignments.save_correct")}}',
                          'load_success': {{ "true" if submission.correct else "false" }},
                          'log_event': '{{ url_for("lti_assignments.save_events") }}',
                          'save_presentation': "{{ url_for("lti_assignments.save_presentation")}}"},
                        { 'question_id': {{ assignment.id }},
                          'student_id': 1,
                          'book_id': 'compthink',
                          'version': {{ assignment.version }},
                          'lis_result_sourcedid': "{{ session['lis_result_sourcedid'] if 'lis_result_sourcedid' in session else ""}}",
                          'name': '{{ assignment.name }}' });
    $(".embedded-data-{{loop.index}}").remove();
});

</script>

{% endfor %}

{% endblock %}