#container {
  width: 525px;
  height: 165px;
  position: relative;
}

.instructions {
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}

.tsize {
  position: absolute;
  left: 55px;
  top: 70px;
}

#tablesize {
  position: absolute;
  left: 200px;
  top: 85px;
  width: 100px;
}

.nrecs {
  position: absolute;
  left: 55px;
  top: 100px;
}

#numrecs {
  position: absolute;
  left: 200px;
  top: 115px;
  width: 100px;
}

#calculate {
  position: absolute;
  right: 5px;
  top: 95px;
}

.output {
  position: absolute;
  top: 150px;
  text-align:center;
  width: 500px;
  margin: 0;
}
