#collisionCON3.jsavcontainer {
  height: 280px;
}

#collisionCON4.jsavcontainer {
  height: 280px;
}

#collisionCON7.jsavcontainer {
  height: 250px;
}

#collisionCON8.jsavcontainer {
  margin-top: 25px;
  height: 250px;
}
