#BSTsearchCON {
  height: 340px;
}

#BSTsearchCON .jsavcode{
  margin-left: 320px;
}

#BSTinsertCON {
  height: 530px;
}

#BSTinsertCON .jsavtree { 
  top: 35px;
}

#BSTdeletemaxCON {
  height: 340px;
}

#BSTdeletemaxCON .jsavcode{
  margin-left: 320px;
}

#BSTremoveCON {
  height: 700px;
}

#BSTremoveCON .jsavcode{
  margin-top: -10px;
}

#BSTremoveCON .jsavtree { 
  top: 35px;
}

.thinredline {
  stroke: red;
}

.rededge { /* Make a tree edge to be red */
  stroke: red;
  stroke-width: 3;
}

.rednode { /* Make a node red */
  background-color: white;
  color: red;
  border-color: red;
  box-shadow: 2px 2px 2px rgba(120, 120, 120, 0.5);
}

