#inorderCON {
  height: 500px;
}

#inorderCON .jsavcode{
  margin-top: -25px;
}

#inorderCON .jsavtree { 
  top: 40px;
}

#preorderCON {
  height: 500px;
}

#preorderCON .jsavcode{
  margin-top: -25px;
}

#preorderCON .jsavtree { 
  top: 40px;
}

#postorderCON {
  height: 500px;
}

#postorderCON .jsavcode{
  margin-top: -25px;
}

#postorderCON .jsavtree { 
  top: 40px;
}

#expressionTraversalCON {
  height: 430px;
}

#expressionTraversalCON .jsavcode {
  margin-top: 20px;
  margin-left: 350px;
}

#expressionTraversalCON .jsavtree {
  top: -200px;
  right: -260px;
}

#compositeTraversalCON {
  height: 630px;
}

#compositeTraversalCON .jsavcode {
  margin-top: -15px;
  margin-left: 350px;
}

#compositeTraversalCON .jsavtree {
  top: -400px;
  right: -260px;
}

/* Make these internal nodes square */
.internalnode {
  border-radius: 1px;
  background-color: white;
  line-height: 22px;
  z-index: 100; /* Prevents the tails of the edges from showing up in the background of the node */
}
