<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BlockPy</title>
    
    <!-- Style sheets -->
    {% for css in ['libs/bootstrap.min.css',
                   'libs/codemirror/codemirror.css',
                   'libs/font-awesome.min.css',
                   'libs/summernote/summernote.css',
                   'kennel/kennel.css'] %}
        <link rel="stylesheet" href="{{ url_for('static', filename=css) }}"></link>
    {% endfor %}
    
    <!-- Useful snippets -->
    <script>
    var storage = {
        set: function(directive, value) {
            localStorage.setItem(directive+"_value", value);
            localStorage.setItem(directive+"_timestamp", $.now());
        },
        remove: function(directive) {
            localStorage.removeItem(directive+"_value");
            localStorage.removeItem(directive+"_timestamp");
        },
        get: function(directive) {
            return localStorage.getItem(directive+"_value");
        },
        has: function(directive) {
            return localStorage.getItem(directive+"_value") !== null;
        },
        // Tests whether the server has the newer version
        is_new: function(directive, server_time) {
            var stored_time = localStorage.getItem(directive+"_timestamp");
            return (server_time >= stored_time+5000);
        },
    };

    var timers = {};
    function addDelay(directive, action, delay) {
        if (delay === undefined) {
            delay = 400;
        }
        clearTimeout(timers[directive]);
        timers[directive] = setTimeout(action, delay);
    }
    </script>
    
    <!-- JQuery, D3, Math.js, Bootstrap -->
    {% for js in ['libs/jquery.js',
                   'libs/jquery.hotkeys.js',
                   'libs/d3.min.js',
                   'libs/math.0.19.0.min.js',
                   'libs/bootstrap.min.js',
                   'libs/bootstrap-wysiwyg.js',
                   "libs/mindmup-editabletable.js",
                   "libs/codemirror/codemirror.js",
                   "libs/codemirror/python.js",
                   "libs/codemirror/htmlmixed.js",
                   "libs/codemirror/xml.js",
                   "libs/summernote/summernote.min.js",
                   "libs/summernote/summernote-ext-hint.js",
                   "libs/summernote/summernote-ext-video.js",
                   "libs/crime_data.js",
                   "blockly/blockly_compressed.js",
                   "blockly/blocks_compressed.js",
                   "blockly/python_compressed.js",
                   "blockly/javascript_compressed.js",
                   "blockly/msg/js/en.js",
                   "skulpt/dist/skulpt.min.js",
                   "skulpt/dist/skulpt-stdlib.js",
                   "analyzer/analyzer.js",
                   "analyzer/python_errors.js",
                   "converter/python_to_blockly.js",
                   "kennel/kennel.js",
                   "converter/renderBlocklyToPng.js"
                   ] %}
    <script type="text/javascript" src="{{ url_for('static', filename=js) }}"></script>
    {% endfor %}
    
</head>

<script>
function getQueryParams(){
    try{
        url = window.location.href;
        query_str = url.substr(url.indexOf('?')+1, url.length-1);
        r_params = query_str.split('&');
        params = {}
        for( i in r_params){
            param = r_params[i].split('=');
            params[ param[0] ] = param[1];
        }
        return params;
    }
    catch(e){
       return {};
    }
}
$(document).ready(function() {
    var params = getQueryParams();
    var body;
    if (localStorage.getItem('__main__') === null) {
        body = $("#default-body").text();
    } else {
        body = localStorage.getItem('__main__');
    }
    body = $("#default-body").text();
    var view = "blocks";
    if ("view" in params) {
        if (params["view"] == "text") {
            view = "text";
        } else if (params["view"] == "blocks") {
            view = "blocks";
        } else {
            console.log("Unknown view:", params["view"]);
            view = "blocks";
        }
    }
    var mode = "student";
    if ("mode" in params) {
        if (params["mode"] == "student") {
            mode = "student";
        } else if (params["mode"] == "instructor") {
            mode = "instructor";
        }
    } 
    var parsons = false;
    if ("parsons" in params) {
        if (params["parsons"] == "true") {
            parsons = true;
        }
    }
    kennel = new Kennel(document.getElementById('kennel-div'),
                        mode, // Instructor mode
                        $("#problem-presentation").text(), // problem
                        $("#default-body").text(), // Current code
                        $('#default-on-run').html(), // On run code
                        "def on_step(code, output, properties):\n    pass", // On step code
                        "alpha = 0", // Starting code
                        mode == "instructor",
                        view,
                        "{{ url_for('static', filename='blockly/') }}",
                        parsons,
                        { 'save_code': '{{ url_for("blockpy.save")}}',
                          'load_code': '{{ url_for("blockpy.load")}}',
                          'save_success': '{{ url_for("blockpy.save")}}',
                          'load_success': '{{ url_for("blockpy.load")}}',
                          'log_event': ''},
                        { 'question_id': 'cw-1-blockly',
                          'student_id': 1,
                          'book_id': 'compthink'});
    if ("url" in params) {
        $.get(decodeURIComponent(params["url"]), function(result) { kennel.setCode(result);});   
    }    
  });
</script>

<body>
<div id="kennel-div" style='height:100%'></div>

<pre id='problem-presentation' style='display:none'>
{{ program.presentation }}
</pre>
<pre id='default-body' style='display:none'>
{{ program.code }}
</pre>
<pre id='default-on-run' style='display:none'>
{{ program.on_run }}
</pre>
  
<!-- Google Analytics -->
<script>
switch(window.location.protocol) {
case 'file:':
    break;
default:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38802329-2', 'auto');
    ga('send', 'pageview');
    }
</script>

</body>
</html>