{% extends 'layout.html' %}

{% block title %}
BlockPy
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

    {% assets "blockpy_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "blockpy_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

<script>
function getQueryParams(){
    try{
        url = window.location.href;
        query_str = url.substr(url.indexOf('?')+1, url.length-1);
        r_params = query_str.split('&');
        params = {}
        for( i in r_params){
            param = r_params[i].split('=');
            params[ param[0] ] = param[1];
        }
        return params;
    }
    catch(e){
       return {};
    }
}
$(document).ready(function() {
    var params = getQueryParams();
    var body;
    if (localStorage.getItem('__main__') === null) {
        body = $("#default-body").text();
    } else {
        body = localStorage.getItem('__main__');
    }
    body = $("#default-body").text();
    var view = "blocks";
    if ("view" in params) {
        if (params["view"] == "text") {
            view = "text";
        } else if (params["view"] == "blocks") {
            view = "blocks";
        } else {
            console.log("Unknown view:", params["view"]);
            view = "blocks";
        }
    }
    var mode = "student";
    if ("mode" in params) {
        if (params["mode"] == "student") {
            mode = "student";
        } else if (params["mode"] == "instructor") {
            mode = "instructor";
        }
    } 
    var parsons = false;
    if ("parsons" in params) {
        if (params["parsons"] == "true") {
            parsons = true;
        }
    }
    kennel = new Kennel(document.getElementById('kennel-div'),
                        mode, // Instructor mode
                        $("#problem-presentation").text(), // problem
                        $("#default-body").text(), // Current code
                        $('#default-on-run').text(), // On run code
                        "def on_step(code, output, properties):\n    pass", // On step code
                        "alpha = 0", // Starting code
                        mode == "instructor",
                        view,
                        "{{ url_for('static', filename='blockly/') }}",
                        {'parsons': false, 'read_only': false},
                        { 'save_code': '{{ url_for("blockpy.save")}}',
                          'load_code': '{{ url_for("blockpy.load")}}',
                          'save_success': '{{ url_for("blockpy.save")}}',
                          'load_success': '{{ url_for("blockpy.load")}}',
                          'log_event': ''},
                        { 'question_id': 'cw-1-blockly',
                          'student_id': 1,
                          'book_id': 'compthink'});
    if ("url" in params) {
        $.get(decodeURIComponent(params["url"]), function(result) { kennel.setCode(result);});   
    }    
  });
</script>

{% endblock %}

{% block body %}
<div id="kennel-div" style='height:100%'></div>

<pre id='problem-presentation' style='display:none'>
{{ program.presentation }}
The two common ways of representing temperatures are Fahrenheit and Celsius. We want to answer the question: "What are the forecasted temperatures of Blacksburg in Celsius?" Using iteration, print out each of the forecasted temperatures (which are given to you in Fahrenheit) of Blacksburg in Celsius. The formula for conversion is<br>&nbsp;<samp>C= (F-32)/1.8</samp>
</pre>
<pre id='default-body' style='display:none'>
{{ program.code }}
</pre>
<pre id='default-on-run' style='display:none'>
{{ program.on_run }}
import weather
    
def on_run(code, output, trace):
    def in_output(text):
        return (str(text)+"\n" in output)

    temps = weather.get_forecasts("Blacksburg, VA")

    printedtemp = 0
    for f in temps:
        c = (f-32)/1.8
        if in_output(c):
            printedtemp = printedtemp + 1

    if not output:
        return "You should be printing the forecast for Blacksburg in Celsius."
    if not ('weather.get_forecasts' in code):
        return "You should be using the 'get forecasted temperatures' block!"
    if not ('weather.get_forecasts("Blacksburg, VA")' in code):
        return "Are you checking the forecast for some other town?"
    if printedtemp &lt; 10:
        return "You should have printed a total of 10 temperatues in celsius."
    if printedtemp==10:
        return True
    if printedtemp &gt; 10:
        return "Woah... Too many lines printed."
    else:
        return "Keep working on it."
</pre>
  
{% endblock %}