#container {
  width: 810px;
  height: 610px;
}

.jsavarray {
  position: absolute;
}

.jsavmodelanswer {
  height: 275px;
}

.jsavcontainer {
  overflow: visible;
}

.jsavhighlight {
  font-size: 110%;
}
