.jsavindex.jsavarrow.leftarrow::before {
  left: 9px;
  border-color: blue transparent transparent;
}

.jsavindex.jsavarrow.rightarrow::before {
  left: 9px;
  border-color: red transparent transparent;
}

.jsavindex.jsavarrow.leftrightarrow::before {
  left: 9px;
  border-color: #CC00FF transparent transparent;
}
