#GdirundirCON .jsavcanvas {
  height: 170px;
}

#GneighborCON .jsavcanvas {
    height: 180px;
}

#GpathDefCON .jsavcanvas {
    height: 190px;
}

#GconcomCON .jsavcanvas {
    height: 160px;
}

#GsparseDefCON .jsavcanvas {
    height: 420px;
}

#GdirRepCON .jsavcanvas {
    height: 230px;
}

#GundirRepCON .jsavcanvas {
    height: 230px;
}

#GweightedCON .jsavcanvas {
    height: 230px;
}

.jsavautoresize .jsavnode {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
}

.borderEdge{ /* Used to separate parts of a figure */
  stroke: #CCCCCC;
  stroke-width: .5;
}

.redEdge { /* Make graph edge red */
  stroke: red;
}

.jsavverticalarray .jsavnode {
  line-height: 30px !important;
  min-width: 30px !important;
  max-width: 30px !important;
  min-height: 30px !important;
  max-height: 40px !important;
  height: 35px;
}

.jsavhorizontallist.jsavautoresize .jsavnode {
  min-width: 20px !important;
  max-width: 20px !important;
  min-height: 20px !important;
  max-height: 20px !important;
}

.jsavhorizontallist.jsavautoresize .jsavvalue {
  height: 10px;
  line-height: 10px;
}

.addSpace{
    letter-spacing: 8.5px;
}

.vertical-text {
	transform: rotate(90deg);
}

#GweightedCON .jsavhorizontallist.jsavautoresize .jsavnode {
  min-width: 30px !important;
  max-width: 30px !important;
  min-height: 20px !important;
  max-height: 20px !important;
}

