#SequentialTreeCON .jsavcanvas {
  height: 430px;
  width: 600px;
}

#SequentialTreeCON .jsavtree{
  top: 30px;
}

#SequentialTreeAltCON .jsavcanvas {
  height: 430px;
  width: 600px;
}

#SequentialTreeAltCON .jsavtree{
  top: 30px;
}

#SequentialTreeBitsCON .jsavcanvas {
  height: 430px;
  width: 600px;
}

#SequentialTreeBitsCON .jsavtree{
  top: 30px;
}

#SequentialGenTreeCON .jsavcanvas {
  height: 300px;
  width: 600px;
}

#SequentialGenTreeCON .jsavtree{
  top: 30px;
}
