.jsavpointerarea {
  position: absolute;
  width: 14px;
  height: 100%;
  top: 0;
}
.jsavpointerarea.left {
  left: 0;
  border-right: 1px solid #000;
}
.jsavpointerarea.right {
  right: 0;
  border-left: 1px solid #000;
}
.selected-left .jsavpointerarea.left {
  background-color: #ff0;
}
.selected-right .jsavpointerarea.right {
  background-color: #ff0;
}
.jsavbinarypointertreenode {
  overflow: hidden;
  border-radius: 30px / 23px;
  width: 60px;
}
.jsavbinarypointertreenode.loose {
  background-color: #aaf
}
.jsavbinarypointertreenode.loop {
  background-color: #faa
}
.jsavbinarypointertreenode.highlighted {
  box-shadow: 0 0 20px 5px #aaf;
}
.jsavbinarypointertree .jsavedge {
  stroke-width: 2;
}
.jsavautoresize .jsavbinarypointertreenode {
  min-width: 60px;
}