#container {
  margin-top: 10px;
  width: 800px;
  height: 840px;
}

.jsavline {
  margin-top: 15px;
  height: 50px;
}

.jsavarray {
   position: absolute;
}

#avcontainer .jsavarray .jsavindex {
  height: 10px;
  width: 140px;
  border-radius: 0 !important;
}

.jsavstack {
  position: absolute;
  background-color: inherit;
}
.jsavstacknode {
  position: absolute;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  z-index: 100;
}

.jsavcanvas {
  margin-top:50px;
  height: 800px;
  width: 540px;
}

.jsavmodelanswer {
  height: 200px;
}