#container {
  width: 800px;
  height: 650px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.jsavarray .jsavindex{
	min-width:30px;
	min-height:30px;
	height:30px;
	line-height:30px;
        text-align:center;
}
