#container {
  width: 800px;
  height: 650px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.jsavnode {
	padding-left: 15px;
	padding-right: 15px;
}

.jsavnode.edge {
	border-radius: 8px;
	border-style: none;
}

ul {
list-style-type: none;
padding: 0px;
margin: 0px;
}
