.jsavnode .jsavvalue { /* This will get the array cell values to center vertically */
  height: 30px;
}

#varindexCON .jsavcanvas{
 margin-left: auto;
 margin-right: auto;
 height: 150px;
 width: 540px;
}

#linindexCON .jsavnode{
  line-height: 30px !important;
  min-width: 45px !important;
  max-width: 45px !important;
  min-height: 30px !important;
  max-height: 30px !important;
}

#linindexCON .jsavcontainer {
  height: 250px;
}

#linindexCON .jsavcanvas {
 margin-left: auto;
 margin-right: auto;
 height: 250px;
 width: 580px;
}

.jsavarray .jsavindex {
border-radius: 0 !important;
}

svg{
  stroke-width: 1;
}

.jsavcanvas  > .jsavlabel {
	z-index: 100;
}
