.jsavsortablearray {
  width: 410px !important;
}
.jsavsortablearray .jsavnode {
  width: 100%;
  height: auto;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.jsavsortablearray .jsavnode:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.jsavsortablearray .jsavvaluelabel {
  text-align: left;
  padding: 15px;
}
.jsavsortablearray .sortable-ghost {
  background-color: #eee;
  color: #555;
}
.jsavrighticon {
  float: right;
  color: #ccc;
  font-size: 35px;
  line-height: 1.3;
  margin-right: 10px;
}
