.jsavnode.jsavtreenode.jsavbinarynode.huffmanleaf {
  height:32px;
  width:32px;
  line-height: 16px;
  z-index: 100;
  margin-top:3px; 
  padding-top: 1px;
}

/* Sets maximum width to JSAV container */
#HuffmanCon2 {
  padding-top: 30px;
  width: 650px;
}

/* Sets width and height to the JSAV canvas */
#HuffmanCon2 .jsavcanvas {
  height: 330px;
  width: 620px;
}

#HuffmanCon2 .jsavtree {
  margin-top: -25px;
  margin-left: 210px;
  left: 190px;
}

.jsavoutput.jsavline {
  width: 650px;
  padding-top: 20px;
}

.jsavnode .jsavvalue {
  min-height: 25px;
  max-height: 25px;
  min-width: 25px;
  max-width: 25px;
  margin: 0 auto;
}

.jsavautoresize .jsavnode {
  min-width:25px;
  min-height:25px;
  width: 25px;
  height: 25px;
}

/*=================== HuffmanCon4 ===================*/
/* Sets maximum width to JSAV container */
#HuffmanCon4 {
  padding-top: 30px;
  width: 650px;
}

/* Sets width and height to the JSAV canvas */
#HuffmanCon4 .jsavcanvas {
  height: 330px;
  width: 600px;
}

#HuffmanCon4 .jsavtree {
  margin-top: -25px;
}

#HuffmanCon4 .jsavtree.jsavcommontree.jsavautoresize.jsavbinarytree {
  margin-left: 100px;
}

/*=================== HuffmanCon3 ===================*/
#HuffmanCon3 {
  padding-top: 30px;
  width: 650px;
}

/* Sets width and height to the JSAV canvas */
#HuffmanCon3 .jsavcanvas {
  margin-top:20px;
  height: 335px;
  width: 300px;
}

#HuffmanCon3 .jsavtree {
  margin-top: -15px;
  top: 0px;
  margin-left: 250px;
}

#HuffmanCon3 .jsavoutput.jsavline {
  width:650px;
}

/*=================== HuffmanCon5 ===================*/

#HuffmanCon5 {
  width:385px;
  height:350px;
}

#HuffmanCon5 .jsavtree {
  margin-top: 1px;
  margin-left: 48px;
}

.jsavnode.jsavtreenode.jsavbinarynode .jsavvalue {
  height:25px;
}

/*=================== TreeTimeline ===================*/

#TreeTimeline {
  width: 600px;
  height: 520px;
}

#TreeTimeline .jsavtree {
  /*margin-left: 55px;*/
  margin-top: -20px;
}

#TreeTimeline .jsavoutput {
  width: 590px;
}

/*=================== TrieTimeline ===================*/

#TrieTimeline {
  width: 600px;
  height: 600px;
}

#TrieTimeline .jsavtree {
  /*margin-left: 55px;*/
  margin-top: -20px;
}

#TrieTimeline .jsavoutput {
  width: 590px;
}

/* There are no numbers in these leaf nodes, so have to adjust. */
#TrieTimeline .jsavnode.jsavtreenode.jsavbinarynode.huffmanleaf {
  line-height: 32px;
  border-radius: 1px;
}

/*====================== Misc. =======================*/
#ninelabel {
  padding-left: 5px;
}
