.jsavtreenode {
  cursor: pointer;
}
.jsavtree {
  margin-top: 30px;
}
.jsavstack {
  margin-top: 30px;
}
.jsavlabel {
  border: 1px solid #eca;
  border-radius: 3px;
  padding: 1px 3px;
  background-color: #fe8;
  color: #975;
  position: absolute;
  z-index: 101;
  line-height: normal;
  font-size: medium;
}