#dialogueoverlay {
    display: none;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 750;
}
#dialoguebox {
    display: none;
    background: lightgrey;
    position: fixed;
    border-radius: 5px;
    width: 550px;
    z-index: 750;
}
#dialoguebox > div {
    margin: 8px;
}
#dialoguebox > div > #dialogueboxhead {
    font-size: 20px;
    padding: 10px;
}
#dialoguebox > div > #dialogueboxbody {
    padding: 20px;
}
#dialoguebox > div > #dialogueboxfoot {
    padding: 10px;
    text-align: right;
}