.jsavcanvas{
	height: 500px;
}

.jsavpointer{
  border:1px solid #eee;
}

.jsavverticalarray .jsavnode.widerecord {
  max-width: 150px !important;
  min-width: 150px !important;
}

.jsavhorizontalarray .jsavnode.widerecord {
  max-width: 150px !important;
  min-width: 150px !important;
}

#listElementDataCON {
  height: 500px;
}

#listElementDataCON .jsavoutput.jsavline {
  height: 75px;
}

#listElementTypeCON {
  height: 500px;
}

#listElementTypeCON .jsavoutput.jsavline {
  height: 75px;
}

#listElementDeleteCON {
  height: 500px;
}

#listElementDeleteCON .jsavoutput.jsavline {
  height: 75px;
}
