{%- set icon_url = url_for('static', _external=True, filename='images/puppy-corgi-head-tiny.png') -%}
<?xml version="1.0" encoding="UTF-8"?>
<cartridge_basiclti_link xmlns="http://www.imsglobal.org/xsd/imslticc_v1p0"
    xmlns:blti = "http://www.imsglobal.org/xsd/imsbasiclti_v1p0"
    xmlns:lticm ="http://www.imsglobal.org/xsd/imslticm_v1p0"
    xmlns:lticp ="http://www.imsglobal.org/xsd/imslticp_v1p0"
    xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation = "http://www.imsglobal.org/xsd/imslticc_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imslticc_v1p0.xsd
    http://www.imsglobal.org/xsd/imsbasiclti_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imsbasiclti_v1p0.xsd
    http://www.imsglobal.org/xsd/imslticm_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imslticm_v1p0.xsd
    http://www.imsglobal.org/xsd/imslticp_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imslticp_v1p0.xsd">
    <blti:title>BlockPy</blti:title>
    <blti:description>A client-side, block-based editor for Python</blti:description>
    <blti:icon>{{ icon_url }}</blti:icon>
    <blti:launch_url>{{ url_for('lti_assignments.index', _external=True) }}</blti:launch_url>
      <blti:custom>
        <lticm:property name=""></lticm:property>
      </blti:custom>
    <blti:extensions platform="canvas.instructure.com">
      <lticm:property name="tool_id">blockpy-v{{ version }}</lticm:property>
      <lticm:property name="privacy_level">name_only</lticm:property>
      <lticm:property name="domain">{{ request.headers['Host'].split(':')[0] }}</lticm:property>
      <lticm:options name="editor_button">
        <lticm:property name="url">{{ url_for('lti_assignments.share', _external=True) }}</lticm:property>
        <lticm:property name="icon_url">{{ icon_url }}</lticm:property>
        <lticm:property name="text">Simple Canvas</lticm:property>
        <lticm:property name="selection_width">400</lticm:property>
        <lticm:property name="selection_height">300</lticm:property>
        <lticm:property name="enabled">true</lticm:property>
      </lticm:options>
      <lticm:options name="resource_selection">
        <lticm:property name="url">{{ url_for('lti_assignments.select', _external=True) }}</lticm:property>
        <lticm:property name="icon_url">{{ icon_url }}</lticm:property>
        <lticm:property name="text">Select a new problem</lticm:property>
        <lticm:property name="selection_width">700</lticm:property>
        <lticm:property name="selection_height">600</lticm:property>
        <lticm:property name="enabled">true</lticm:property>
      </lticm:options>
      <lticm:options name="course_navigation">
        <lticm:property name="url">{{ url_for('lti_assignments.dashboard', _external=True) }}</lticm:property>
        <lticm:property name="text">BlockPy Dashboard</lticm:property>
        <lticm:property name="visibility">admins</lticm:property>
        <lticm:property name="default">enabled</lticm:property>
        <lticm:property name="enabled">true</lticm:property>
      </lticm:options>
    </blti:extensions>
    <cartridge_bundle identifierref="BLTI001_Bundle"/>
    <cartridge_icon identifierref="BLTI001_Icon"/>
</cartridge_basiclti_link>  