{% extends 'reduced_layout.html' %}

{% block title %}
Edit Assignment
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<!-- Style sheets -->
{% assets "blockpy_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "blockpy_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<style>
.embedded-data {
    display: none;
}
</style>

{% endblock %}

{% block body %}

<!-- Main BlockPy canvas -->
<div id="blockpy-div" style='height:100%'></div>

<pre id='problem-presentation' class='embedded-data'>{{ assignment.body }}</pre>
<pre id='default-body'         class='embedded-data'>{{ submission.code }}</pre>
<pre id='default-on-run'       class='embedded-data'>{{ assignment.on_run }}</pre>
<pre id='default-on-step'      class='embedded-data'>{{ assignment.on_step }}</pre>
<pre id='default-on-start'     class='embedded-data'>{{ assignment.on_start }}</pre>

<script>
$(document).ready(function() {
    blockpy = new Kennel(document.getElementById('blockpy-div'),
                        'instructor', // Instructor mode
                        $("#problem-presentation").text(), // problem
                        $("#default-body").text(), // Current code
                        $('#default-on-run').text(), // On run code
                        $('#default-on-step').text(), // On step code
                        $('#default-on-start').text(), // Starting code
                        true,
                        'blocks',
                        "{{ url_for('static', filename='blockly/') }}",
                        false,
                        { 'save_code': '{{ url_for("lti_assignments.save_code")}}',
                          'load_code': false,
                          'save_success': '{{ url_for("lti_assignments.save_correct")}}',
                          'load_success': {{ "true" if submission.correct else "false" }},
                          'log_event': '{{ url_for("lti_assignments.save_events") }}',
                          'save_presentation': "{{ url_for("lti_assignments.save_presentation")}}"},
                        { 'question_id': {{ assignment.id }},
                          'student_id': {{ user_id }},
                          'book_id': {{ context_id }} });
    $(".embedded-data").remove();
});
</script>

{% endblock %}