#container {
  width: 530px;
  height: 165px;
}

.instructions {
  text-align:center;
  margin: 0;
  margin-top: 0;
  border: 0;
}

.output {
  text-align:center;
  margin: 0;
  margin-top: -13px;
}

.standout {
  color: green;
  background-color: #ddd;
}
