.jsavcontainer {
  height: 350px;
}

.jsavlist .jsavlistnode {
  min-height: 25px !important;
  max-height: 25px !important;
  line-height: 23px !important;
}

.jsavcanvas > svg {
  height: 350px;
  width: 835px;
}
