.jsavlabel { 
width: 100px;
height: 100px;
color: blue;
background-image: url(Icons/person.png);
background-size: cover;
}

.jsavlabel.forward {
background-image: url(Icons/person2.png);
}	

#recurIntroDelegateCON {
 height: 400px;
}

#recurIntroDetailsCON {
 height: 400px;
}

.svg{
  stroke-width: 1;
}
