#recursionTrcFctCON{
  height: 580px;
}

#recursionTrcWindCON{
  height: 270px;
}

#recursionTrcSum2CON{
  height: 350px;
}

#recursionTrcSumCON{
  height: 400px;
}

#recursionTrcDmnCON{
  height: 450px;
}

#recursionTrcDmnPrntCON {
  height: 450px;
}

#recursionTrcDmnCntCON{
  height: 420px;
}

#recursionTrcTOHCON {
  height: 600px;
}

