{% extends 'layout.html' %}
{% set skip_jquery = True %}

{% block title %}
BlockPy
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

    {% assets "blockpy_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "blockpy_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    
<style>
.embedded-data {
    display: none;
}
</style>

<script>
function getQueryParams(){
    try{
        url = window.location.href;
        query_str = url.substr(url.indexOf('?')+1, url.length-1);
        r_params = query_str.split('&');
        params = {}
        for( i in r_params){
            param = r_params[i].split('=');
            params[ param[0] ] = param[1];
        }
        return params;
    }
    catch(e){
       return {};
    }
}
$(document).ready(function() {
    var params = getQueryParams();
    var body;
    if (localStorage.getItem('__main__') === null) {
        body = $("#default-body").text();
    } else {
        body = localStorage.getItem('__main__');
    }
    body = $("#default-body").text();
    var view = "blocks";
    if ("view" in params) {
        if (params["view"] == "text") {
            view = "text";
        } else if (params["view"] == "blocks") {
            view = "blocks";
        } else {
            console.log("Unknown view:", params["view"]);
            view = "blocks";
        }
    }
    var mode = "student";
    if ("mode" in params) {
        if (params["mode"] == "student") {
            mode = "student";
        } else if (params["mode"] == "instructor") {
            mode = "instructor";
        }
    } 
    var parsons = false;
    if ("parsons" in params) {
        if (params["parsons"] == "true") {
            parsons = true;
        }
    }
    kennel = new Kennel(document.getElementById('kennel-div'),
                        mode, // Instructor mode
                        $("#problem-presentation").text(), // problem
                        $("#default-body").text(), // Current code
                        $('#default-on-run').text(), // On run code
                        $('#default-on-step').text(), // On step code
                        $('#default-on-start').text(), // Starting code
                        mode == "instructor",
                        view,
                        "{{ url_for('static', filename='blockly/') }}",
                        {'parsons': false, 'read_only': false},
                        { 'save_code': '{{ url_for("blockpy.save")}}',
                          'load_code': false,
                          'save_success': '{{ url_for("blockpy.save")}}',
                          'load_success': '{{ url_for("blockpy.load")}}',
                          'load_success': {{ "true" if submission.correct else "false" }},
                          'log_event': ''},
                        { 'question_id': {{ assignment.id }},
                          'student_id': {{ user.id }},
                          'book_id': {{ course.id }}});
    if ("url" in params) {
        $.get(decodeURIComponent(params["url"]), function(result) { kennel.setCode(result);});   
    } else if ("code" in params) {
        kennel.setCode(decodeURIComponent(params["code"]));
    }
  });
</script>

{% endblock %}

{% block body %}
<div id="kennel-div" style='height:100%'></div>

<pre id='problem-presentation' class='embedded-data'>{{ assignment.body }}</pre>
<pre id='default-body'         class='embedded-data'>{{ submission.code }}</pre>
<pre id='default-on-run'       class='embedded-data'>{{ assignment.on_run }}</pre>
<pre id='default-on-step'      class='embedded-data'>{{ assignment.on_step }}</pre>
<pre id='default-on-start'     class='embedded-data'>{{ assignment.on_start }}</pre>
  
{% endblock %}