.blockpy-explorer {
    height: 100%;
}

.blockpy-explorer table {
    width: 100%; 
    text-align: center;
}

.blockpy-explorer-errors {
    text-align: left;
}

.blockpy-editor {
    height: 500px;
}

.blockpy-text {
    border: 1px solid lightgray;
}

.blockpy-upload {
    border: 1px solid lightgray;
}

.blockpy-printer {
    height: 200px;
    overflow: auto;
    resize: vertical;
}

.blockpy-printer-default {
    background-color: white;
    border: 1px solid lightgray;
}

.blockpy-printer-inverse {
    background-color: black;
    border: 1px solid darkgray;
    color: white;
}

.blockpy-printer .blockpy-printer-output {
    display: block;
    padding-left: 10px;
    border-bottom: 1px dashed lightgray;
}

.blockpy-printer .blockpy-printer-output samp {
    white-space: pre;
}

.blockpy-bottom {
    height: 25%;
}

.blockpy-header {
    height: 25%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.editor-active-line {
    background: #C4FBC4 !important;
    color: #8a1f11 !important;
}

.CodeMirror-gutters {
    background-color: #ddd;
    border-left: 1px solid #bbb;
}

.editor-error-line {
    background: #FBC4C4 !important;
    color: #8a1f11 !important;
}

.blockpy-content {
    padding-left: 0px;
    padding-right: 0px;
}

.blockpy-content .btn {
    margin-bottom: 5px;
    margin-top: 5px;
}

.blockpy-content .alert {
    color: black;
}

.note-editable {
    background-color: white;
}

.label-internal-error { background-color: black; }
.label-syntax-error { background-color: darkred; }
.label-runtime-error { background-color: #d9534f; }
.label-semantic-error { background-color: orangered; }
.label-feedback-error { background-color: #f0ad4e; }
.label-problem-complete { background-color: #5cb85c; }
.label-none { background-color: rgba(0,0,0,0); }
.label-no-errors { background-color: #5bc0de; }

.blockpy-content-right {
    overflow-y: auto;
    max-height: 230px;
}

.blockpy-feedback-traces table {
    background: white;
    width: 100%;
}

table.blockpy-feedback-unit {
    background: white;
    width: 100%;
    padding-top: 4px;
}

.blockpy-feedback-unit code {
    color: black;
    background-color: transparent;
}

.blockpy-popup .modal-body {
    overflow-y: auto;
}

.blockpy-popup .modal-body table {
    width: 100%;
}


/*
.col-md-1 { padding-left: 0px; padding-right: 0px; }
.col-md-2 { padding-left: 0px; padding-right: 0px; }
.col-md-3 { padding-left: 0px; padding-right: 0px; }
.col-md-4 { padding-left: 0px; padding-right: 0px; }
.col-md-5 { padding-left: 0px; padding-right: 0px; }
.col-md-6 { padding-left: 0px; padding-right: 0px; }
.col-md-7 { padding-left: 0px; padding-right: 0px; }
.col-md-8 { padding-left: 0px; padding-right: 0px; }
.col-md-9 { padding-left: 0px; padding-right: 0px; }
.col-md-10 { padding-left: 0px; padding-right: 0px; }
.col-md-11 { padding-left: 0px; padding-right: 0px; }
.col-md-12 { padding-left: 0px; padding-right: 0px; }   
.container-fluid {padding-left: 0px; padding-right: 0px; } 
*/

div.blockpy-text.blockpy-editor-menu.col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}

div.blockpy-blocks.blockpy-editor-menu.col-md-6 {
    padding-left: 0px;
}

.CodeMirror-code div pre {
    border-bottom: 1px dashed rgba(1,1,1,.1);
}

.blockpy-read-only .CodeMirror-scroll {
    background-color: #E5E5E5;
}

.blockpy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

.blockpy-feedback-original {
    white-space: pre-wrap;
}

.btn-file {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}

.green-check-mark {
    font-weight: bold;
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
