.blockpy-explorer {
    height: 100%;
}

.blockpy-explorer table {
    width: 100%; 
    text-align: center;
}

.blockpy-explorer-errors {
    text-align: left;
}

.blockpy-editor {
    height: 500px;
}

.blockpy-text {
    border: 1px solid lightgray;
}

.blockpy-printer {
    height: 200px;
    overflow: auto;
    resize: vertical;
}

.blockpy-printer-default {
    background-color: white;
    border: 1px solid lightgray;
}

.blockpy-printer-inverse {
    background-color: black;
    border: 1px solid darkgray;
    color: white;
}

.blockpy-printer .blockpy-printer-output {
    display: block;
    padding-left: 10px;
    border-bottom: 1px dashed lightgray;
}

.blockpy-bottom {
    height: 25%;
}

.blockpy-header {
    height: 25%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.editor-active-line {
    background: #C4FBC4 !important;
    color: #8a1f11 !important;
}

.CodeMirror-gutters {
    background-color: #ddd;
    border-left: 1px solid #bbb;
}

.editor-error-line {
    background: #FBC4C4 !important;
    color: #8a1f11 !important;
}

.blockpy-content {
    padding-left: 0px;
    padding-right: 0px;
}

.blockpy-content .btn {
    margin-bottom: 5px;
    margin-top: 5px;
}

.blockpy-content .alert {
    color: black;
}

.note-editable {
    background-color: white;
}


/*
.col-md-1 { padding-left: 0px; padding-right: 0px; }
.col-md-2 { padding-left: 0px; padding-right: 0px; }
.col-md-3 { padding-left: 0px; padding-right: 0px; }
.col-md-4 { padding-left: 0px; padding-right: 0px; }
.col-md-5 { padding-left: 0px; padding-right: 0px; }
.col-md-6 { padding-left: 0px; padding-right: 0px; }
.col-md-7 { padding-left: 0px; padding-right: 0px; }
.col-md-8 { padding-left: 0px; padding-right: 0px; }
.col-md-9 { padding-left: 0px; padding-right: 0px; }
.col-md-10 { padding-left: 0px; padding-right: 0px; }
.col-md-11 { padding-left: 0px; padding-right: 0px; }
.col-md-12 { padding-left: 0px; padding-right: 0px; }   
.container-fluid {padding-left: 0px; padding-right: 0px; } 
*/