.kennel-explorer {
    height: 100%;
}

.kennel-explorer table {
    width: 100%; 
    text-align: center;
}

.kennel-explorer-errors {
    text-align: left;
}

.kennel-editor {
    height: 500px;
}

.kennel-text {
    border: 1px solid lightgray;
}

.kennel-console {
    height: 200px;
    overflow: auto;
    border: 1px solid lightgray;
    resize: vertical;
}

.kennel-console .kennel-console-output {
    /* display: block;*/
    padding-left: 10px;
}

.kennel-bottom {
    height: 25%;
}

.kennel-header {
    height: 25%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.editor-active-line {
    background: #C4FBC4 !important;
    color: #8a1f11 !important;
}

.editor-error-line {
    background: #FBC4C4 !important;
    color: #8a1f11 !important;
}

.kennel-content .btn {
    margin-bottom: 5px;
    margin-top: 5px;
}

.kennel-content .alert {
    color: black;
}




/*
.col-md-1 { padding-left: 0px; padding-right: 0px; }
.col-md-2 { padding-left: 0px; padding-right: 0px; }
.col-md-3 { padding-left: 0px; padding-right: 0px; }
.col-md-4 { padding-left: 0px; padding-right: 0px; }
.col-md-5 { padding-left: 0px; padding-right: 0px; }
.col-md-6 { padding-left: 0px; padding-right: 0px; }
.col-md-7 { padding-left: 0px; padding-right: 0px; }
.col-md-8 { padding-left: 0px; padding-right: 0px; }
.col-md-9 { padding-left: 0px; padding-right: 0px; }
.col-md-10 { padding-left: 0px; padding-right: 0px; }
.col-md-11 { padding-left: 0px; padding-right: 0px; }
.col-md-12 { padding-left: 0px; padding-right: 0px; }   
.container-fluid {padding-left: 0px; padding-right: 0px; } 
*/