.avcontainer, .jsavcanvas {
  width: 900px;;
  max-width: 900px;;
}

.jsavcontrols {
    margin-top: 0px;
}

.jsavdialog {
    min-height: 300px;
}

.instructLabel {
    font-weight: bold;
    margin-bottom: 0;
}
div.instructions, div.instructions p {
    margin: 0;
}

div.instructions {
    margin-bottom: 10px;
}
.instructions ol{
    margin-top: 0;
    margin-bottom: 0;
}

#expression {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  font-weigt: bold;
  font-size: 1.2em;
}

.jsavline {
  margin-top: 15px;
  height: 0;
}

#increments {
  width: 150px;
}

#lambda {
    font-size: 1.5em;
    margin-top:35px;
}

#lefthalf {
    float: left;
    width: 46%;
    padding: 10px;
    height: 100px;
    text-align: center;
    border: 1px dashed black;
}

#righthalf {
    float: right;
    width: 46%;
    text-align: center;
    border: 1px dashed black;
    padding: 0 10px 0px 10px;
}

#righthalf p {
    margin-top: 8px;
    margin-bottom: 8px;
}


#lefthalf p {
    margin-top: 3px;
    margin-bottom: 3px;
}


#header .right {
    float: right;
}


#header .left {
    float: left;
}

#about {
    margin-left:10px;
}

p.jsavexercisecontrols {
    margin-top: 10px;
    padding-bottom: 15px;
    margin-left: 150px;
    margin-right: 150px;
}

.small {
    font-size: 0.8em;
}



ol.jsavarray .defaultCellStyle {
    border: none;
    box-shadow : none; 
    background-color: #ddd;
}

.jsavhorizontalarray .jsavnode.lambdaWidth {
    min-width : 22px !important;
    max-width : 22px !important;
}


.jsavhorizontalarray .jsavnode.oneCharWidth {
    min-width : 13px !important;
    max-width : 13px !important;
}

.jsavhorizontalarray .jsavnode.narrow {
    min-width : 7px !important;
    max-width : 7px !important;
}

ol.jsavarray .emptyWidth {
    width : 0;
    min-width : 0;
}

ol.jsavarray .stepNumber {
    width : 100px;
    min-width : 100px;
    font-weight: bold;
    text-align: left;
    background-color: #FFF;
}

/*
    .jsavhorizontalarray  {
        max-height: 30px;
        min-height: 30px;
    }

    div.avcontainer  div.jsavcanvas ol.jsavarray   {
       max-height: 30px;
       min-height: 30px;
    }
*/