#heapbuildProofCON  {
  height: 400px;
}

#heapbuildProofCON .jsavtree .jsavnode {
  line-height: 15px !important;
  min-width: 15px !important;
  max-width: 15px !important;
  min-height: 15px !important;
  max-height: 15px !important;
}

#heapbuildProofCON .jsavoutput.jsavline {
  height: 30px;
}

.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
