#GenTreeCON .jsavcanvas {
  height: 470px;
  width: 580px;
 }

#GenTreeCON {
  height: 470px;
}

#GenTreePreTravCON {
  height: 400px;
}

#GenTreePreTravCON .jsavoutput {
  height: 20px;
}

#GenTreePreTravCON .jsavtree {
  top: -200px;
  left: -100px;
}

#GenTreePreTravCON .jsavcode {
  margin-left: 10px;
}

#GenTreePostTravCON {
  height: 330px;
}

#GenTreePostTravCON .jsavoutput {
  height: 20px;
}

#GenTreePostTravCON .jsavtree {
  top: 30px;
}
